.imageElement--cover{
    object-fit: cover;
}
/*Changes in infoCard title*/
.infoCardHeadline{
    font-family: serif;
    font-size: 2.25rem;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    padding: 24px;
}
/*Change in button's infoCard*/
.infoCardCallActionContainer :global(.vtex-button){
    color: white;
    background-color: gray;
    border: transparent;
}
/*Change in hover's button infoCard*/
.infoCardCallActionContainer :global(.vtex-button):hover{
    color:white;
    background-color: black;
    border: transparent;
}

.infoCardContainer--vintage{
    background-color: #edcfd1;
}

.infoCardContainer{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0;
}

